:root {
  --bg-color: #f0f0f0;
  --container-color: #fff;
  --text-color: #878787;
  --text--m-color: #141414;
  --dash-color: #844dff;
  --error-color: #db3646;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "poppins", sans-serif;
  background-color: var(--bg-color);
}
main {
  padding: 6rem 1rem;
}
.container {
  max-width: 83.4rem;
  margin: 0 auto;
  padding: 6rem;
  background-color: var(--container-color);
  border-radius: 2rem 2rem 25rem 2rem;
}

.input__box {
  display: flex;
  gap: 2rem;
}
.input__items {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input__item {
  font-size: 3.2rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #e2e2e2;
  width: 17rem;
  outline: none;
  transition: border-color 0.3s ease;
}
.input__item:focus-visible,
.input__item:focus,
.input__item:active {
  border: 1px solid var(--dash-color);
}

.input__text,
.input__item {
  color: var(--text-color);
  font-weight: 600;
}

.input__text {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #6d6d6d;
}

.result__items {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: calc(5.2rem + 1vw);
  font-style: italic;
  font-weight: 900;
}

.result__dash {
  color: var(--dash-color);
  font-size: calc(8rem + 1vw);
}
.img__icon__box {
  position: relative;
  height: 9rem;
}

.img__icon__box::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0.2rem;
  background-color: #e2e2e2;
}

.arrow__icon {
  border-radius: 50%;
  background-color: var(--dash-color);
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}

.input__error__text {
  font-style: italic;
  color: var(--error-color);
  visibility: hidden;
  font-size: 1.5rem;
}
